<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:icon,android:theme,android:label,android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PopMovies"
        android:name=".PopMoviesApplication">
        <activity
            android:name=".ui.activities.MovieListActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MovieDetailActivity"
            android:label="@string/movie.detail.activity.title"
            android:parentActivityName=".ui.activities.MovieListActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MovieListActivity" />

            </activity>

        <meta-data android:name="DATABASE" android:value="popular_movies.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.android.popularmovies" />

    </application>

</manifest>
